table, td, th{
    border: 2px solid black;
    border-collapse: collapse;
}
th {
    background-color: rgb(131, 125, 115);
}

tr:nth-child(even) {
    background-color: rgb(202, 251, 255);
}
tr:nth-child(odd) {
    background-color: rgb(82, 222, 253);
}