

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

#fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

main {
    left: calc(calc(100vw/2) - 75px);
}

p{
    padding: 3px;
    margin: 3px;
}

#b1 {
    left: calc(50vw - 190px);
    position: absolute;
}
#b2 {
    left: calc(50vw - 60px);
    position: absolute;

}
#b3 {
    left: calc(50vw + 120px);
    position: absolute;

}

#om1 {
    display: none;
}
#om2 {
    display: none;
}
#om3 {
    display: none;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  header {  
    animation: 2s ease-out 0s 1 slideInFromLeft;
  }

  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  main {  
    animation: 2s ease-out 0s 1 slideInFromRight;

  }